	@font-face{
		font-family: nxlight;
		src: url(nxlight.otf);
	}
	@font-face{
		font-family: nxbold;
		src: url(nxbold.otf);
	}
	html{
		height: 100%;
	}
	body{
		background-image: url("pictures/wallpaper-knight.png"), url("pictures/wallpaper-black.png");
		background-repeat: no-repeat, repeat;
		background-position: center top;
		background-size: contain, cover;
		margin: 0px;
		height: 100%;
		position: relative;
	}
	
	.navbar{
		z-index: 99;
		position: fixed;
		margin: 0px;
		height: 100px;
		width: 100%;
		background-color: rgb(40,40,40);
		top: 0px;
		text-align: center;
		
		-webkit-transition top .25s, background-color .25s;
		transition: top .25s, background-color .25s;
	}
	.navbar-up{
		top: -100px;
		background-color: rgba(0,0,0,0);
	}
	
	.nav{
		background-color: rgba(0,0,0,0);
		border: 0px;
		border-thickness: 0px;
		color: white;
		height: 100px;
		margin: 0px;
		min-width: 80px;
		max-width: 200px;
		width: 10%;
		
		-webkit-transition: background-color .25s, color .25s;
		transition: background-color .25s, color .25s;
	}
	.nav:hover{
		color: gold;
		//background-color: rgba(0,0,0,.6);
	}
	.navCenter{
		margin: auto;
	}
	.navLeft{
		float: left;
	}
	.navRight{
		float: right;
	}
	
	.textInput{
		
	}
	
	.buttonInput{
		color: rgb(200,200,200);
		background-color: rgba(0,0,0,0);
		border-style: solid;
		border-width: 1px;
		border-color: rgb(200,200,200);
		margin: 16px;
		width: 200px;
		height: 40px;
		
		-webkit-transition: color .25s, border-color .25s, background-color .25s;
		transition: color .25s, border-color .25s, background-color .25s;
	}
	.buttonInput:hover{
		color: white;
		border-color: gold;
		background-color: rgba(0,0,0,.6);
	}
	
	.emote{
		width: 32px;
		height: 32px;
	}

	#loading{
		position: fixed;
		height: 100%;
		width: 100%;
		margin: 0px;
		z-index: 100;
		background-color: rgba(0,0,0,1);
	}
	#spacer{
		height: 200px;
	}